* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, #000000d8 100%),
    url(../assets/main.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  position: relative;
  overflow: hidden;
  width: 720px;
  height: 460px;
  max-height: 600px;
}

.main__content {
  width: 100%;
  height: 600px;
  max-height: 100%;
  display: flex;
}

.main-bg {
  position: absolute;
  top: calc(50% - 50vh);
  left: calc(50% - 50vw);
  width: 100vw;
  height: 100vh;
  background: url(../assets/main.jpg);
  background-size: cover;
  z-index: -1;
}

.card {
  height: 460px;
  width: 251px;
  opacity: 0.92;
  background: radial-gradient(circle, #da2929 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  color: #ffffff;
}

.card__header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.description {
  align-self: flex-end;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
}

.card__header-icon {
  width: 138px;
  color: white;
}

.card__header-icon img {
  width: 100%;
}

.list {
  height: 50%;
  width: 100%;
}
.nav {
  display: flex;
}

.nav__item {
  padding: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  padding: 26px;
}

.city_info {
  width: 100%;
  opacity: 0.92;
  text-align: right;
  top: 0px;
  right: 0px;
  color: #ffffff;
  font-size: 36px;
  line-height: 0;
}
.city_name {
  margin-top: 2rem;
  font-size: 36px;
  letter-spacing: -1px;
  font-weight: 300;
  margin-bottom: 0;
}
.city_state {
  margin-top: 16px;
  margin-right: 5px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.71px;
  line-height: 24px;
  font-size: 15px;
}
.temp_info {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  opacity: 0.92;
  font-size: 150px;
}

.temp_caption {
  display: flex;
  width: 100%;
  opacity: 0.92;
  justify-content: flex-end;
  font-size: 100px;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  margin: 0;
}

date {
  margin: 0;
  font-size: 20px;
  letter-spacing: -0.5px;
  color: white;
  white-space: nowrap;
  align-self: left;
}
time {
  font-size: 18px;
  letter-spacing: -0.56px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  white-space: nowrap;
  margin: 0;
}
