body {
  margin: 0;
}

.header {
  width: 100%;
  height: 70px;
  margin: 0px;
  position: fixed;
  color: white;
  background-color: 'none';
  font-family: 'Montserrat', sans-serif;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.website-name {
  margin: 25px 0px 0px 275px;
  font-size: 20px;
  font-weight: bold;
}
.website-name--hidden {
  display: none;
  font-size: 20px;
  width: 152px;
  color: white;
  margin-bottom: 20px;
}

.login {
  margin: -25px 30px 10px 10px;
}

.login:hover {
  cursor: pointer;
  color: rgb(550, 0, 0);
}

.sign-up {
  border: solid 2px white;
  background: none;
  color: white;
  border-radius: 25px;
  padding-bottom: 5px;
  outline: none;
  width: 90px;
  height: 36px;
  font-size: 14;
  margin: -32px 275px 0px 0px;
}

.sign-up:hover {
  background-color: rgb(550, 0, 0);
  cursor: pointer;
}

main {
  font-family: 'Montserrat', sans-serif;
}

.welcome-section {
  width: 100vw;
  height: 700px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/main.png') center no-repeat;
  background-color: black;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-welcome {
  color: white;
  font-size: 60px;
  text-align: center;
}

.description {
  text-align: center;
  margin: 35px 0px 35px 0px;
  color: #ffffffa6;
  font-weight: normal;
}
.button {
  background-color: #ff4e50;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  width: 225px;
  height: 40px;
  outline: none;
  display: flex;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(550, 0, 0);
  color: #ffffff;
}

span {
  display: block;
}

/* start of the how Dreamshare Section */

.section {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titile {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 25px;
  margin: 40px 0px 40px 0px;
}

.three-steps {
  display: flex;
  justify-content: center;
}

.pic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 270px;
  height: 400px;
  margin: 0px;
  background-size: cover;
  color: white;
  padding: 15px 15px 0px 15px;
}

.step1--pic {
  background: url('../assets/pic1.png') center no-repeat;
  background-size: cover;
}

.step2--pic {
  margin: 0px 20px 0px 20px;
  background: url('../assets/pic2.png') center no-repeat;
  background-size: cover;
}

.step3--pic {
  background: url('../assets/pic3.png') center no-repeat;
  background-size: cover;
}

.button--small {
  width: 70px;
  height: 20;
  font-size: 10px;
}

/* Start the Meet Partner Section */

.meet-partner__containter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gray-p {
  color: #666666;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
  text-align: center;
}

.profile-pic {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile--Bradley {
  background: url('../assets/profile1.png') center no-repeat;
}

.profile--Marie {
  background: url('../assets/profile2.png') center no-repeat;
}

.profile--Diana {
  background: url('../assets/profile3.png') center no-repeat;
}

.profile--Christopher {
  background: url('../assets/profile4.png') center no-repeat;
}

.profile-containter {
  display: flex;
}

.button--outline {
  background-color: #ffffff;
  border: 1px solid #ff4e50;
  color: #ff4e50;
  margin: 50px 0px 0px 0px;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

img {
  height: 20px;
  width: 20px;
  margin: 8px;
}

.profile--music {
  background-color: #ff4e50;
}

.profile--pen {
  background-color: #19d4ca;
}

.profile--camera {
  background-color: #ffa710;
}

.profile--plane {
  background-color: #667df3;
}

h4 {
  margin: 15px 0px 5px 0px;
}

/* Start the Holiday Activity Section */
.discover-container {
  margin-bottom: 100px;
}

.all-activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.activities-image {
  width: 300;
  height: 310;
  margin: 10px 10px 10px 10px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sports {
  background: url('../assets/row1pic1.png') center no-repeat;
}

.wellness {
  background: url('../assets/row1pic2.png') center no-repeat;
}

.ext-sport {
  background: url('../assets/row1pic3.png') center no-repeat;
}

.games {
  background: url('../assets/row2pic1.png') center no-repeat;
}

.culture {
  width: 620px;
  background: url('../assets/row2pic2.png') center no-repeat;
}

.enjoyment {
  width: 620px;
  background: url('../assets/row3pic1.png') center no-repeat;
}

.travelling {
  background: url('../assets/row3pic2.png') center no-repeat;
}

/* Start the interests Section */

.interests-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.button--search {
  width: 172px;
  height: 40px;
  margin: 0px 0px 0px 10px;
}

.input_search__partner {
  width: 299px;
  height: 40px;
  outline: none;
  border: solid 2px #d4d4d4;
  color: #d4d4d4;
  padding-left: 10px;
  font-size: 1rem;
}

input::placeholder {
  font-size: 14px;
  color: #d4d4d4;
}

form {
  margin-top: 25px;
  display: flex;
}

/* start footer */
.footer {
  border-top: solid 1px #ff4e50;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.footer-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-self: stretch;
  padding: 20px;
  max-width: 960;
}

.column {
  flex: 1;
  color: #444444;
  font-size: 1rem;
  font-weight: bolder;
  margin: 10px 20px 0px 20px;
  padding: 5px 5px 5px 5px;
}


.column--double {
  text-align: right;
  flex: 2 0 auto;
  color: #cccccc;
  font-size: 10px;
  line-height: 3px;
  letter-spacing: 1px;
}

.column-links {
  width: 550px;
}

.logo-designedby {
  width: 110px;
  height: 24px;
  margin: 10px -8px 0px 0px;
}
.links {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  color: #999999;
  font-weight: lighter;
  font-size: 14px;
}

a {
  margin: 5px;
}

a:hover {
  cursor: pointer;
}

/* here start responsive */

@media only screen and (max-width: 1200px) {
  .sign-up {
    margin: -32px 100px 0px 0px;
  }

  .website-name {
    margin: 25px 0px 0px 100px;
  }

  .how-dreamshare__container {
    margin: 0px 15px 100px 15px;
  }

  .profile-containter {
    flex-wrap: wrap;
    margin: 0px 70px 0px 70px;
  }

  .profile {
    width: calc(50% - 30px);
  }

  .all-activities {
    flex-direction: row;
    align-items: center;
  }

  .activities-image {
    width: 236px;
  }

  .culture {
    width: 492px;
  }

  .enjoyment {
    width: 492px;
  }

  .column {
    max-width: 300px;
  }
  .column--double {
    max-width: 100px;
  }
}

@media only screen and (max-width: 950px) {
  .pic {
    width: 265px;
  }

  .title-welcome {
    font-size: 30px;
  }
}

@media only screen and (max-width: 820px) {
  .website-name {
    display: none;
  }

  .website-name--hidden {
    display: block;
  }

  .header-links {
    display: flex;
    justify-content: center;
  }

  .sign-up {
    margin: 17px 0px 0px 20px;
  }

  .login {
    margin: 27px 0px 0px 0px;
  }

  .website-name {
    margin: 25px 0px 0px 100px;
  }

  .how-dreamshare__container {
    margin: 0px 15px 100px 15px;
  }

  form {
    display: block;
    height: 150px;
    margin: 15px 0px 15px 0px;
  }

  .button--search {
    margin: 15px 0px 0px 0px;
    width: 299px;
  }

  .three-steps {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    margin-top: 15px;
    height: 240px;
  }

  .profile-containter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .profile-text {
    width: 500%;
  }

  .profile {
    width: calc(50% - 30px);
  }

  .all-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: 100;
  }

  .activities-image {
    height: 90px;
    width: 300px;
  }

  .wellness {
    margin: 20px 0 20px 0;
  }

  .culture {
    margin-top: 20px;
  }

  .enjoyment {
    margin: -120px 0px 20px 0px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .column {
    text-align: center;
    margin: 0px 20px 15px 20px;
  }
  .logo-designedby {
    margin: 15px 0px 0px -18px;
  }
}
@media only screen and (max-width: 375px) {
  .pic {
    width: 265px;
  }

  .title-welcome {
    font-size: 30px;
  }

  .column-links {
    width: 300px;
  }
}
