.containter {
  margin: 10% 30% 0 30%;
  color: gray;
}
.title {
  color: #f96f01;
}

.input {
  outline: none;
  width: 60%;
  margin-right: -20px;
  padding-left: 5px;
}

.button {
  background-color: #f96f01;
  border: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #ffffff;
}
.button:hover {
  background-color: #c45826;
  cursor: pointer;
}

.delete-btn {
  width: 20px;
  background: url('./logo.png') center no-repeat;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.list__item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
  border-left: solid 5px #f96f01;
}

@media only screen and (max-width: 1000px) {
  .custom-jumborton {
    margin: 0px auto;
    min-width: 416px;
  }
}

@media only screen and (max-width: 768px) {
  .custom-jumborton {
    min-width: 400px;
    margin-left: -47px;
  }
}
@media only screen and (max-width: 414px) {
  .custom-jumborton {
    min-width: 320px;
    margin: 0px 0px 0px -77px;
  }
}
@media only screen and (max-width: 411px) {
  .custom-jumborton {
    min-width: 300px;
    margin: 0px 0px 0px -65.5px;
  }
}
@media only screen and (max-width: 375px) {
  .custom-jumborton {
    margin: 0px 0px 0px -75px;
  }
}

@media only screen and (max-width: 360px) {
  .custom-jumborton {
    margin: 0px 0px 0px -77px;
  }
}
@media only screen and (max-width: 320px) {
  .custom-jumborton {
    margin: 0px 0px 0px -86px;
  }
}
